{% extends "explore/explore_base.html" %}
{% block main %}

<h4>Your password has been reset</h4>

<div style='min-height: 400px; padding-top: 15px'>
    <p>You may now log in to MARCO Marine Planner.</p>
    <p><a type="button" href="/visualize/#login=true" class="btn">Return to Marine Planner</a></p>
</div>

{% endblock %}