{% extends "explore/explore_base.html" %}
{% block main %}

{% if validlink %}
    <h4>Enter new password</h4>
{% else %}
    <h4>Password reset unsuccessful</h4>
{% endif %}

<div style='min-height: 400px; padding-top: 15px'>
{% if validlink %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="" method="post">{% csrf_token %}
        {{ form.new_password1.errors }}
        <p class="aligned wide">
            <label for="id_new_password1">New password:</label>
            {{ form.new_password1 }}
        </p>
    
        {{ form.new_password2.errors }}
        <p class="aligned wide">
            <label for="id_new_password2">Confirm password:</label>
            {{ form.new_password2 }}
        </p>
        
        <p><input class="btn" type="submit" value="Change my password" /></p>
    </form>
{% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    <p>Or, if you have already reset your password you can <a href="/visualize/#login=true">continue to the login page</a>.  </p>
{% endif %}
</div>

{% endblock %}