{% extends "explore/explore_base.html" %}
{% block main %}
{% load appname %}
   
<h4>Your {% appname %} password reset request was successful</h4>

<div style="min-height: 400px">
    <p>We've e-mailed you instructions for re-setting your password. You should be receiving it shortly.</p>
    <p>If you don't receive an email, please contact us at {% help_email %}.
    <p><a type="button" href="/visualize/" class="btn">Return to Planner</a>
</div>
    
{% endblock %}
